/* .Welcome {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  height: '100vh';
  background-image: "url('/assets/background.png')";
  background-size: 'cover';
  background-position: 'center';
} */